[Desktop Entry]
Version=1.0
Icon=chromium
Type=X-XFCE-Helper
Name=Chromium
StartupNotify=true
X-XFCE-Binaries=agent-workspace-browser;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=/config/bin/agent-workspace-browser;
X-XFCE-CommandsWithParameter=/config/bin/agent-workspace-browser "%s";
